@import '../../node_modules/@starter/design-tokens/dist/tokens.css';
@import '../app/fonts.css';

:root {
  color-scheme: light;
  font-family: InterVar, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji;
}

body {
  background: var(--semantic-bg);
  color: var(--semantic-fg);
  margin: 0;
  padding: 0;
}
